<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boot Company</title>
</head>
<body>
    <h1>Ett Företag</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias, at sint ad aspernatur eaque repellendus? Repellendus porro quibusdam in nihil ad eaque nostrum vitae, eos quae, veritatis, quod explicabo dolor?</p>
    
    <a th:href="@{/companyInfo}">
    <button id ="homeBtn" >Home</button>
    </a>
    <a th:href="@{/employes}">
        <button id="employeBtn">Employes</button>
    </a>
    <a th:href="@{/products}">
        <button>Products</button>
    </a>
</body>
</html>