<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Anställda</h1>

    <ul>
        <li th:each="item : ${employeList}"><span th:text="${item.name}"></span></li>
    </ul>
    <a th:href="@{/companyInfo}">
        <button id ="homeBtn" >Home</button>
        </a>
        <a th:href="@{/products}">
            <button>Products</button>
        </a>
    
</body>
</html>