<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pruducts</title>
</head>
<body>
    <h1>Products</h1>
    <div>
        <form method="post" th:action="@{/new-product}" th:object="${newItem}">
            <input type="text" th:field="*{name}">
            <input type="submit">
        </form>
    </div>
    <ul>
        <li th:each="item : ${productItems}"><span th:text="${item.name}"></span></li>
    </ul>
    
</body>
</html>